<%- include('../partials/head.ejs') %> 
<body>
    <%- include ('../partials/header.ejs') %>
    <main>
        <div class="pageHeader">
            <h1 class="titulo" >Todos los cursos</h1>
            <a href="/products/create" target="_parent">
                <button class = "btn-Add">Agregar curso</button>
            </a>
            </br>
        </div>
        <div class="CarouselContainer">
                <div class="Carousel">
                    <% for(let course of courses){ %>
                        <section class="Carousel">
                            <a href="products/<%= course.product_id%>" target="_parent">
                                <article class="CourseCard">
                                    <img class="CourseCardImage" src=<%= course.product_image %>alt="Imagen representativa del curso">
                                    <h5 class="CourseCardTitle"><%= course.product_name %></h5>
                                    <section class="CourseRating">
                                        <h5 class="CourseGrade">Rating: <%= course.value_rating %></h5>
                                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                        <h6 class="CourseReviews">(<%= course.enrolled_students %> estudiantes)</h6>
                                    </section>
                                    <h4 class="CourseCardPrice">$ <%= course.product_price%></h4>
                                </article>
                            </a>
                        </section>
                    <%}%>
                </div>
        </div>
    </main>
    <%- include ('../partials/footer.ejs') %>
</body>
</html>


