<%- include("../partials/head.ejs")%> 
<body>
    <%- include("../partials/header.ejs")%>
    <main>
        <h1><%= title%> </h1>
        <form action="/products/<%=id%>?_method=PUT" method= "POST">
            <label for="nombreCurso">Nombre del Curso*</label>
            <input type="text" id='nombreCurso' name='nombreCurso' value= "<%= courses.find((l)=>{return l['id'] == parseInt(id)}).name%>" >
            <label for="descripcionCorta">Descripci贸n corta*</label>
            <textarea id="descripcionCorta" name="descripcionCorta"><%= courses.find((l)=>{return l['id'] == parseInt(id)}).shortDescription%></textarea>
            <label for="requisitos">Requisitos del curso</label>
            <textarea id="requisitos" name="requisitos"><%= courses.find((l)=>{return l['id'] == parseInt(id)}).requirements%></textarea>
            <label for="descripcionLarga">Descripci贸n larga*</label>
            <textarea id="descripcionLarga" name="descripcionLarga"><%= courses.find((l)=>{return l['id'] == parseInt(id)}).longDescription%></textarea>
            <div class="precio">
                <div class="bloque">
                    <label for="precio">Precio*</label>
                    <input type="text" id="precio" name="precio" value= "<%= courses.find((l)=>{return l['id'] == parseInt(id)}).price[0]%>">
                </div>
                <div class="bloque">
                    <label for="moneda">Unidad monetaria*</label>
                    <select class="select" name= "moneda" id="moneda"> 
                        <option value="MXN" <%=courses.find((l)=>{return l['id'] == parseInt(id)}).price[1]=="MXN"?"selected":""%>>MXN Peso Mexicano</option>
                        <option value="USD" <%=courses.find((l)=>{return l['id'] == parseInt(id)}).price[1]=="USD"?"selected":""%>>USD D贸lar Estadounidense</option>
                    </select>                      
                </div>
            </div>
            <!--  
            <label for="imagenDelCurso">Imagen de previsualizaci贸n del curso*</label>
            <input type="file" name="imagenDelCurso" id="imagenDelCurso" class="archivo">-->
            <div class="botones">
                <button type="submit" class="guardar" value="Guardar"><img src="/images/icons/save.svg"> Guardar cambios</button>
            </div>        
        </form>
        
            <form action="/products/<%=id%>?_method=DELETE" method= "POST">
                <div class="botones">
                    <button type="submit" class="eliminar" name="eliminar" value= "Eliminar"><img src="/images/icons/delete.svg"> Eliminar curso</button>
                </div>
            </form>
        
        <p>Los espacios marcados con * son obligatorios.</p>

    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>
 