<%- include("../partials/head.ejs")%>
<body>
    <!--Navbar-->
    <%- include("../partials/header.ejs")%>

        <% for(let course of courses){ %>
            <%if(course.product_id == curso.product_id){%>
                <h5 class="Breadcrumb">
                </h5>
                <article class="ProductBasicInfo">
                    <div class="DesktopFirstHalf">
                        <div class="DesktopSecondCuadrant">
                            <div class="VideoPlayer">
                                <img class = "CourseNameVideo" src="<%= course.product_image %>" alt="Código en Python" width="device-width">
                                <img class="PlayButton" src="/images/icons/Play.svg" alt="Botón de play" width="48px" height="48px">
                            </div>
                            <div class=DesktopBuyInfoVisible>
                                <h3 class="CoursePrice">$ <%= course.product_price %></h3>
                                <div class="ButtonsContainer">
                                    <a href="#" target="_parent"><button class="Btn-AgregarCarrito">Agregar al carrito</button></a>
                                    <a href="/productCart" target="_parent"><button class="Btn-Comprar">Comprar ahora</button></a>
                                </div>
                                <div class="CourseBenefits">
                                    <h5>ESTE CURSO INCLUYE:</h5>
                                        <ul>
                                            <li>Acceso de por vida</li>
                                            <li>Acceso en dispositivos móviles y TV</li>
                                            <li>Tareas</li>
                                            <li>Certificado de finalización</li>
                                        </ul>
                                </div>
                                
                            </div>
                        </div>
                        <div class="DesktopFirstCuadrant">
                            <h3 class="CourseName"><%= course.product_name %></h3>
                            <h5 class="CreadorInfo">Creado por: Keep Learning</h5>
                            <h4 class="ShortCourseDescription"><%= course.short_description %></h4>
                            <section class="CourseRating">
                                <h4 class="CourseGrade"><%= course.value_rating %></h4>
                                <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                <h5 class="CourseReviews"><%= course.enrolled_students %> estudiantes</h5>
                            </section>
                            <section class="DesktopCourseDetailsVisible">
                                <h3 class="DetailsTitle">Sobre el curso</h3>
                                <h4 class="DetailsSubtitle">Requisitos</h4>
                                <ul class="RequirementsList">
                                    <% for(let req of requirements){ %>
                                    <li><%= req.requirement_description%></li>
                                    <%}%>
                                </ul>
                                <h4 class="DetailsSubtitle2">Descripción</h4>
                                <h5 class="LongCourseDescription"> <%= course.long_description%></h5>
                            </section>
                        </div>
                        <div class=DesktopBuyInfoHidden>
                            <h3 class="CoursePrice">$ <%= course.product_price %></h3>
                            <div class="ButtonsContainer">
                                <a href="#" target="_parent"><button class="Btn-AgregarCarrito">Agregar al carrito</button></a>
                                <a href="/productCart" target="_parent"><button class="Btn-Comprar">Comprar ahora</button></a>
                            </div>
                        </div>
                    </div>
                    <section class="DesktopCourseDetailsHidden">
                        <h3 class="DetailsTitle">Sobre el curso</h3>
                        <h4 class="DetailsSubtitle">Requisitos</h4>
                        <ul class="RequirementsList">
                            <% for(let req of requirements){ %>
                                <li><%= req.requirement_description%></li>
                                <%}%>
                        </ul>
                        <h4 class="DetailsSubtitle2">Descripción</h4>
                        <h5 class="LongCourseDescription"><%= course.long_description%> </h5>
                    </section>
                </article>
                <article class="AboutUniversity">
                    <h3 class="SectionTitle">Otros cursos que te podrían interesar</h3>
                    <div class="CarouselContainer">
                        <% for(let course of courses){ %>
                            <section class="Carousel">
                                <a href="/productDetail/<%= course.product_id%>" style="text-decoration: none;">
                                    <article class="CourseCard">
                                        <img class="CourseCardImage" src=<%= course.product_image %>alt="Imagen representativa del curso">
                                        <h5 class="CourseCardTitle"><%= course.product_name %></h5>
                                        <section class="CourseRating">
                                            <h5 class="CourseGrade">Rating: <%= course.value_rating %></h5>
                                            <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                            <h6 class="CourseReviews">(<%= course.enrolled_students %> estudiantes)</h6>
                                        </section>
                                        <h4 class="CourseCardPrice">$ <%= course.product_price%></h4>
                                    </article>
                                </a>
                            </section>
                        <%}%>
                    </div>
                </article>
                
            <%}%>
        <%}%>
    <%- include("../partials/footer.ejs")%>
</body>
</html>