<%- include("../partials/head.ejs")%>

    <body>
        <!--Navbar-->
        <%- include("../partials/header.ejs")%>
            <main>
                <h1 class="titulo">Carrito</h1>
                <div class="main">
                    <% if(cartProducts.length==0){%>
                        <div class="articulos" styles="width:100%">
                            <article class="cursoAComprar">
                                <img src="https://firebasestorage.googleapis.com/v0/b/keeplearning-d82b7.appspot.com/o/empty.png?alt=media&token=d57a0c33-6d27-4215-889e-41ed7a0bc29b"
                                    alt="Carrito vacio">
                                <div class="descripcion">
                                    <div class="nombre-creador" style="width: 100%;">
                                        <p class="nombre">Uy, parece que todavía no has agregado nada al carrito :(</p>
                                        <p class="creador">Te recomendamos agregar los cursos al carrito primero.</p>
                                        <a href="/" id="exploreCoursesBtn"><button id="exploreCourses">Explorar
                                                cursos</button></a>
                                    </div>
                                </div>
                            </article>
                        </div>
                </div>
                        <%}else{%>
                            <div class="articulos">
                                <%for(let cartProduct of cartProducts){%>
                                    <article class="cursoAComprar">
                                        <img src="<%=cartProduct.product_image%>" alt="Curso de AI">
                                        <div class="descripcion">
                                            <div class="nombre-creador">
                                                <p class="nombre">
                                                    <%=cartProduct.product_name%>
                                                </p>
                                                <p class="creador">Ofrecido por Keep Learning</p>
                                            </div>
                                            <div class="precio-eliminar">
                                                <h6 class="precio">$<%=cartProduct.product_price%> MXN</h6>
                                                <form action="/productCart" method="POST">
                                                    <input name="courseId" type="text" hidden
                                                        value="<%=cartProduct.product_id%>">
                                                    <button type="submit" id="deleteBtn">
                                                        <p><u>Eliminar</u></p>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </article>
                                    <%}%>
                            </div>
                            <div class="totalAPagar">
                                <h3>Total a pagar:</h3>
                                <h2 class="total">$<%=total%> MXN</h2>
                                <p class="boton">Comprar ahora</p>
                            </div>
                </div>
                <%}%>
                    <h2 class="subtitulo">También podría gustarte</h2>
                    <div class="CarouselContainer">
                        <% for(let course of courses){ %>
                            <section class="Carousel">
                                <a href="/productDetail/<%= course.product_id%>">
                                    <article class="CourseCard">
                                        <img class="CourseCardImage" src=<%=course.product_image %>alt="Imagen
                                        representativa del curso">
                                        <h5 class="CourseCardTitle">
                                            <%= course.product_name %>
                                        </h5>
                                        <section class="CourseRating">
                                            <h5 class="CourseGrade">Rating: <%= course.value_rating %>
                                                    <img src="/images/icons/EstrellaRellena.svg" alt="Estrella"
                                                        width="24px" height="24px" style="margin-left: 8px;"></h5>

                                            <h6 class="CourseReviews">(<%= course.enrolled_students %> estudiantes)
                                            </h6>
                                        </section>
                                        <h4 class="CourseCardPrice">$ <%= course.product_price%>
                                        </h4>
                                    </article>
                                </a>
                            </section>
                            <%}%>
                    </div>
            </main>
            <%- include("../partials/footer.ejs")%>
    </body>
    <script>
        const buyBtn = document.querySelector(".boton");
        buyBtn.addEventListener("click",()=>{
            alert("Gracias por tu compra :D");
        });
    </script>
    </html>