<%- include("../partials/head.ejs")%>
<body>
    <!--Navbar-->
    <%- include("../partials/header.ejs")%>

    <h3>Vista previa del curso</h3>

        <section class="adminView">
            <a href="/products/<% curso %>/editCourse" target="_parent"><button class = "botonesSuperiores">Editar curso</button></a>
            <form action="/products/:id?_method=DELETE" method= "POST" enctype="multipart/form-data">
                <div target="_parent"><button type="submit" class= "botonesSuperiores"name="eliminar" value= "Eliminar">Borrar curso</button></div>
            </form>
        </section>
        <% for(let course of courses){ %>
            <%if(course.id == curso){%>
                <h5 class="Breadcrumb">
                    <a href="#">Inicio</a> > <a href="#"><%= course.categorization[0] %></a> > <a href="#"> <%= course.categorization[1] %></a>
                </h5>
                <article class="ProductBasicInfo">
                    <div class="DesktopFirstHalf">
                        <div class="DesktopSecondCuadrant">
                            <div class="VideoPlayer">
                                <img class = "CourseNameVideo" src="<%= course.image %>" alt="Código en Python" width="device-width">
                                <img class="PlayButton" src="/images/icons/Play.svg" alt="Botón de play" width="48px" height="48px">
                            </div>
                            <div class=DesktopBuyInfoVisible>
                                <h3 class="CoursePrice">$ <%= course.price[0] %> <%= course.price[1] %></h3>
                                <div class="ButtonsContainer">
                                    <a href="#" target="_parent"><button class="Btn-AgregarCarrito">Agregar al carrito</button></a>
                                    <a href="/productCart" target="_parent"><button class="Btn-Comprar">Comprar ahora</button></a>
                                </div>
                                <div class="CourseBenefits">
                                    <h5>ESTE CURSO INCLUYE:</h5>
                                        <ul>
                                            <li>54,5 horas de vídeo bajo demanda</li>
                                            <li>13 recursos descargables</li>
                                            <li>1 ejercicio de codificación</li>
                                            <li>Acceso de por vida</li>
                                            <li>Acceso en dispositivos móviles y TV</li>
                                            <li>Tareas</li>
                                            <li>Certificado de finalización</li>
                                        </ul>
                                </div>
                                
                            </div>
                        </div>
                        <div class="DesktopFirstCuadrant">
                            <h3 class="CourseName"><%= course.name %></h3>
                            <h5 class="CreadorInfo">Creado por: <%= course.creator %></h5>
                            <h4 class="ShortCourseDescription"><%= course.shortDescription %></h4>
                            <section class="CourseRating">
                                <h4 class="CourseGrade"><%= course.courseRating %></h4>
                                <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                <img src="/images/icons/EstrellaMitad.svg" alt="Estrella" width="24Xpx" height="24px">
                                <h5 class="CourseReviews">(<%= course.totalReviews %>)</h5>
                                <h5 class="CourseStudents"><%= course.enrolledStudents %> estudiantes</h5>
                            </section>
                            <section class="DesktopCourseDetailsVisible">
                                <h3 class="DetailsTitle">Sobre el curso</h3>
                                <h4 class="DetailsSubtitle">Requisitos</h4>
                                <ul class="RequirementsList">
                                    <li><%= course.requirements[0]%></li>
                                    <li><%= course.requirements[1]%></li>
                                    <li><%= course.requirements[2]%></li>
                                </ul>
                                <h4 class="DetailsSubtitle2">Descripción</h4>
                                <h5 class="LongCourseDescription"> <%= course.longDescription%></h5>
                            </section>
                        </div>
                        <div class=DesktopBuyInfoHidden>
                            <h3 class="CoursePrice">$ <%= course.price[0] %> <%= course.price[1] %></h3>
                            <div class="ButtonsContainer">
                                <a href="#" target="_parent"><button class="Btn-AgregarCarrito">Agregar al carrito</button></a>
                                <a href="/productCart" target="_parent"><button class="Btn-Comprar">Comprar ahora</button></a>
                            </div>
                        </div>
                    </div>
                    <section class="DesktopCourseDetailsHidden">
                        <h3 class="DetailsTitle">Sobre el curso</h3>
                        <h4 class="DetailsSubtitle">Requisitos</h4>
                        <ul class="RequirementsList">
                            <li><%= course.requirements[0]%></li>
                            <li><%= course.requirements[1]%></li>
                            <li><%= course.requirements[2]%></li>
                        </ul>
                        <h4 class="DetailsSubtitle2">Descripción</h4>
                        <h5 class="LongCourseDescription"><%= course.longDescription%> </h5>
                    </section>
                </article>
                <article class="CourseContents">
                    <h3 class="SectionTitle">Contenido del curso</h3>
                    <div class="CourseLessonsContainer">
                        <div class="CourseLesson">
                            <h4 class="CourseLessonName"><%= course.lessons[0].lessonName%></h4>
                            <h4 class="CourseLessonTime"><%= course.lessons[0].lessonDuration%></h4>
                            <h5 class="CourseLessonExplained"><%= course.lessons[0].lessonDescription%></h5>
                            <img class="DesktopLessonVideoVisible" src="<%= course.lessons[0].lessonPreview%>" alt="Preview de video del curso, lección 1">
                        </div>
                        <div class="CourseLesson">
                            <h4 class="CourseLessonName"><%= course.lessons[1].lessonName%></h4>
                            <h4 class="CourseLessonTime"><%= course.lessons[1].lessonDuration%></h4>
                            <h5 class="CourseLessonExplained"><%= course.lessons[1].lessonDescription%></h5> 
                            <img class="DesktopLessonVideoVisible" src="<%= course.lessons[1].lessonPreview%>" alt="Preview de video del curso, lección 2">
                        </div>
                        <button class="Btn-SeeMore">Ver más</button>
                    </div>
                </article>   
                <article class="AboutUniversity">
                    <h3 class="SectionTitle">Sobre la universidad</h3>
                    <h4 class="UniversityInfo"><%= course.aboutUniversity%></h4>
                    <h3 class="SectionTitle">Otros cursos de la <%= course.creator %></h3>
                    <div class="CarouselContainer">
                        <% for(let course of courses){ %>
                            <div class="Carousel">
                                <a href="<%= course.id%>" target="_parent">
                                    <article class="CourseCard">
                                        <img class="CourseCardImage" src=<%= course.image %>alt="Imagen representativa del curso">
                                        <h5 class="CourseCardTitle"><%= course.name %></h5>
                                        <h6 class="CourseCardCreator"><%= course.creator %></h6>
                                        <section class="CourseRating">
                                            <h5 class="CourseGrade"><%= course.courseRating %></h5>
                                            <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                            <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                            <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                            <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                            <img src="/images/icons/EstrellaVacia.svg" alt="Estrella" width="24px" height="24px">
                                            <h6 class="CourseReviews"><%= course.totalReviews %></h6>
                                        </section>
                                        <h4 class="CourseCardPrice">$<%= course.price[0] %> <%= course.price[1] %></h4>
                                    </article>
                                </a>
                            </div>
                        <%}%>
                    </div>
                </article>
                <section class="CourseReviewsSection">
                    <h3 class="CourseReviewsSectionTitle">Reseñas de otros estudiantes</h3>
                    <article class="ReviewContainer">
                        <div class="ReviewerInfo">
                            <div class="ReviewerPictureContainer">
                                <img class="ReviewerPhoto" src="<%= course.reviews[0].reviewerPhoto %>" alt="Reviewer photo">
                            </div>
                            <div class="ReviewerNameNRating">
                                <h4 class="ReviewerName"><%= course.reviews[0].reviewerName %></h4><br>
                                <div class="ReviewerRating">
                                    <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                    <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                    <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                    <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                    <img src="/images/icons/EstrellaMitad.svg" alt="Estrella" width="24Xpx" height="24px">
                                    <h5 class="CourseGrade"><%= course.reviews[0].reviewerGrade %></h5>
                                </div>
                            </div>
                        </div>
                        <h5 class="CourseReviewContent"><%= course.reviews[0].reviewContent %></h5>
                    </article>
                    <article class="ReviewContainer">
                        <div class="ReviewerInfo">
                            <div class="ReviewerPictureContainer">
                                AL
                            </div>
                            <div class="ReviewerNameNRating">
                                <h4 class="ReviewerName"><%= course.reviews[1].reviewerName %></h4><br>
                                <div class="ReviewerRating">
                                    <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                    <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                    <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                    <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                    <img src="/images/icons/EstrellaMitad.svg" alt="Estrella" width="24Xpx" height="24px">
                                    <h5 class="CourseGrade"><%= course.reviews[1].reviewerGrade %></h5>
                                </div>
                            </div>
                        </div>
                        <h5 class="CourseReviewContent"><%= course.reviews[1].reviewContent %></h5>
                    </article>
                    <div class="ButtonContainer">
                        <button class="Btn-SeeMore">Ver más</button>
                    </div>
                </section>
            <%}%>
        <%}%>
    <%- include("../partials/footer.ejs")%>
</body>
</html>