<%- include("./partials/head.ejs") %> 
<body>
    <!--Navbar-->
    <%- include("./partials/header.ejs") %>
    <main>
        <!--Seccion Principal-->
        <section class="section-main">
            <div class="img-principal-div">
                <img src="/images/principal-img.jpeg" alt="Imagen principal" class="principal-img">
            </div>
            <article class="main-article">
                    <header class="principal-header">
                        Continuar aprendiendo, nunca está de más!
                    </header>
                    <p class="principal-p">
                        Bienvenido a Keep Learning, una de las plataformas de educación en línea más eficaces actualmente.
                    </p>
                    <div class="btns-principal">
                        <a href="/login">
                        <button class="btn-log-in">Iniciar Sesion</button>
                        </a>
                        <a href="/register">
                            <button class="btn-register">Registrate</button>
                        </a>
                        <a href="products/createCourse" target="_parent">
                            <button class = "btn-nuevoCurso">Agregar un nuevo Curso</button>
                        </a>
                    </div>
            </article>
        </section>
        <section class="Courses">
            <div class="CoursesCategories">
                <div id="programming">
                    <h3 class="CarouselName">Programación</h3>
                </div>
                <div id="web">
                    <h3 class="CarouselName">Desarrollo Web</h3>
                </div>
                <div id="data-science">
                    <h3 class="CarouselName">Ciencia de Datos</h3>
                </div>
                <div id="mobile">
                    <h3 class="CarouselName">Desarrollo Móvil</h3>
                </div>
            </div>
            <!--Programacion-->
            <div class="CarouselContainer" >
                <% for(let course of courses){ %>
                    <div class="Carousel">
                        <a href="products/<%= course.id%>">
                            <article class="CourseCard">
                                <img class="CourseCardImage" src=<%= course.image %>alt="Imagen representativa del curso">
                                <h5 class="CourseCardTitle"><%= course.name %></h5>
                                <h6 class="CourseCardCreator"><%= course.creator %></h6>
                                <section class="CourseRating">
                                    <h5 class="CourseGrade"><%= course.courseRating %></h5>
                                    <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                    <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                    <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                    <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                    <img src="/images/icons/EstrellaVacia.svg" alt="Estrella" width="24px" height="24px">
                                    <h6 class="CourseReviews"><%= course.totalReviews %></h6>
                                </section>
                                <h4 class="CourseCardPrice"><%= course.price %></h4>
                            </article>
                        </a>
                    </div>
                    <%}%>
                </div>
                
        </section>
        <!--Cursos Populares-->
        <h2 class="CarouselTitle">Cursos más populares:</h2>
        <section class="CarouselContainer">
            <% for(let course of courses){ %>
                <section class="Carousel">
                    <a href="products/<%= course.id%>">
                        <article class="CourseCard">
                            <img class="CourseCardImage" src=<%= course.image %>alt="Imagen representativa del curso">
                            <h5 class="CourseCardTitle"><%= course.name %></h5>
                            <h6 class="CourseCardCreator"><%= course.creator %></h6>
                            <section class="CourseRating">
                                <h5 class="CourseGrade"><%= course.courseRating %></h5>
                                <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                                <img src="/images/icons/EstrellaVacia.svg" alt="Estrella" width="24px" height="24px">
                                <h6 class="CourseReviews"><%= course.totalReviews %></h6>
                            </section>
                            <h4 class="CourseCardPrice"><%= course.price %></h4>
                        </article>
                    </a>
                </section>
            <%}%>
        </section>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>